{% extends 'Entreprise/profiles/layouts/base.html' %}

{% block Profile_Ecole %}
{% load static %}

    <section class="center">
        <section class="posts">
            {% include 'common/profile/public/Entreprise/layouts/propos.html' %}
            <button class="Profilage"> 
                <a href="#"> 
                    Savoir Plus sur l'entreprise
                </a>
            </button>
            {% include 'common/profile/public/Entreprise/posts.html' %}
        </section>

        {% include 'Ecole/layouts/sidebar.html' %}
    </section>

{% endblock %}