{% extends 'auth/layouts/forms.html' %}

{% load static %}

{% block Authentification %}

<div id="wrapper">
    <div class="form-container">
        <!-- <span class="form-heading"> Connexion </span> -->
        <h3 class="danger">{{ error }}</h3>
        
        {% for message in messages %}
            <h2 class="danger"> {{ message }} </h2>
        {% endfor %}
        <form method="POST" action="update">
            {% csrf_token %}

            <h3 class="danger"> {{ error }} </h3>
            
            <div class="input-group">
                <i class="fa fa-graduation-cap"></i>
                <input id="metier" type="text" class="form-control" name="metier" required autocomplete="metier" placeholder="Votre Domaine">
                <span class="bar"></span>
            </div>

            <div class="input-group">
                <i class="fa fa-map-marker"></i>
                <input id="pays" type="text" class="form-control" name="pays" required autocomplete="pays" placeholder="Votre pays">
                <span class="bar"></span>
            </div>

            <div class="input-group">
                <i class="fa fa-map-marker"></i>
                <input id="ville" type="text" class="form-control" name="ville" required autocomplete="ville" placeholder="Votre ville">
                <span class="bar"></span>
            </div>

            <div class="input-group">
                <i class="fa fa-home"></i>
                <input id="quartier" type="text" class="form-control" name="quartier" required autocomplete="quartier" placeholder="Votre quartier">
                <span class="bar"></span>
            </div>

            <div class="input-group">
                <i class="fa fa-flag"></i>
                <input id="langue" type="text" class="form-control" name="langue" required autocomplete="langue" placeholder="Les langues que vous parlez">
                <span class="bar"></span>
            </div>

            <div class="input-group">
                <i class="fa fa-phone"></i>
                <input id="indicatif" type="number" class="form-control" name="indicatif" required autocomplete="indicatif" placeholder="L'indicatif de votre pays sans 0">
                <span class="bar"></span>
            </div>

            <div class="input-group">
                <i class="fa fa-phone"></i>
                <input id="phone" type="number" class="form-control" name="phone" required autocomplete="phone" placeholder="Votre numéro de téléphone">
                <span class="bar"></span>
            </div>

           

            <div class="input-group">
                <button type="submit">
                    Mettre à Jours
                </button>
            </div>

            <div class="switch-login">

                <a href="en_profile" class="primary"> 
                    <span>
                        Annuler
                    </span> 
                </a>
            </div>

        </form>
    </div>
</div>

{% endblock %}