{% load static %}

<section class="posts">
    {% include 'common/profile/layouts/profil_boutique.html' %}

    <!-- ============ Posts ================= -->
    <section class="professionnals boutique">
        <a href="#" class="product filter">
            <div class="product_cover">
                <img src="{% static 'assets/delete/banner/back4.jpg' %}" alt="">
                    <h3 class="danger">No Image</h3>
                <p class="product-badge angle">Fruits</p>
            </div>
            <div class="product_content">
                <h3 class="product_title">
                    Pomme
                </h3>
                <p class="product_description">
                    Pomme Frais
                </p>

                <div class="product_price">
                    <p>
                        <u class="fa fa-shopping-cart danger"> |</u>  
                        2500 fr
                    </p>
                    
                </div>
                <b class=""> 
                    <i class="fa fa-map-marker primary"> Sénégal</i>
                    <u class="success"> &bull;</u> 
                    <span class="danger">2days</span> 
                </b>
            </div>
        </a>

        <a href="#" class="product filter">
            <div class="product_cover">
                <img src="{% static 'assets/delete/banner/back4.jpg' %}" alt="">
                    <h3 class="danger">No Image</h3>
                <p class="product-badge angle">Fruits</p>
            </div>
            <div class="product_content">
                <h3 class="product_title">
                    Pomme
                </h3>
                <p class="product_description">
                    Pomme Frais
                </p>

                <div class="product_price">
                    <p>
                        <u class="fa fa-shopping-cart danger"> |</u>  
                        2500 fr
                    </p>
                    
                </div>
                <b class=""> 
                    <i class="fa fa-map-marker primary"> Sénégal</i>
                    <u class="success"> &bull;</u> 
                    <span class="danger">2days</span> 
                </b>
            </div>
        </a>

        <a href="#" class="product filter">
            <div class="product_cover">
                <img src="{% static 'assets/delete/banner/back4.jpg' %}" alt="">
                    <h3 class="danger">No Image</h3>
                <p class="product-badge angle">Fruits</p>
            </div>
            <div class="product_content">
                <h3 class="product_title">
                    Pomme
                </h3>
                <p class="product_description">
                    Pomme Frais
                </p>

                <div class="product_price">
                    <p>
                        <u class="fa fa-shopping-cart danger"> |</u>  
                        2500 fr
                    </p>
                    
                </div>
                <b class=""> 
                    <i class="fa fa-map-marker primary"> Sénégal</i>
                    <u class="success"> &bull;</u> 
                    <span class="danger">2days</span> 
                </b>
            </div>
        </a>
    </section>

</section>