{% load static %}
<section class="posts">
    {% include 'common/profile/layouts/propos.html' %}

    <!-- ============ Posts ================= -->

    <section class="professionnals jobs">
        <a href="#" class="users">
            <div class="couverture">
                <img src="{% static 'assets/delete/images/fullDev.jpg' %}" alt="">
            </div>
            <div class="user_profile">
                <img src="{% static 'assets/delete/images/pic-4.png' %}">
                <div class="name_job_country">
                    <h3 class="name">David Cardlos</h3>
                    <h4 class="job">
                        <i class="fa fa-briefcase danger"></i>
                        <span>|</span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est maiores deleniti ipsam...
                    </h4>
                    <hr>
                    <h5 class="country">
                        <i class="fa fa-map-marker text-muted"></i>
                        Senegal
                    </h5>
                </div>
            </div>
        </a>
    
        <a href="#" class="users">
            <div class="couverture">
                <img src="{% static 'assets/delete/images/photographer.jpg' %}" alt="">
            </div>
            <div class="user_profile">
                <img src="{% static 'assets/delete/images/pic-4.png' %}">
                <div class="name_job_country">
                    <h3 class="name">David Cardlos</h3>
                    <h4 class="job">
                        <i class="fa fa-briefcase danger"></i>
                        <span>|</span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est maiores deleniti ipsam...
                    </h4>
                    <hr>
                    <h5 class="country">
                        <i class="fa fa-map-marker text-muted"></i>
                        Senegal
                    </h5>
                </div>
            </div>
        </a>
    
        <a href="#" class="users">
            <div class="couverture">
                <img src="{% static 'assets/delete/images/dataAna.jpg' %}" alt="">
            </div>
            <div class="user_profile">
                <img src="{% static 'assets/delete/images/pic-4.png' %}">
                <div class="name_job_country">
                    <h3 class="name">David Cardlos</h3>
                    <h4 class="job">
                        <i class="fa fa-briefcase danger"></i>
                        <span>|</span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est maiores deleniti ipsam...
                    </h4>
                    <hr>
                    <h5 class="country">
                        <i class="fa fa-map-marker text-muted"></i>
                        Senegal
                    </h5>
                </div>
            </div>
        </a>
    
        <a href="#" class="users">
            <div class="couverture">
                <img src="{% static 'assets/delete/images/blogger.jpg' %}" alt="">
            </div>
            <div class="user_profile">
                <img src="{% static 'assets/delete/images/pic-4.png' %}">
                <div class="name_job_country">
                    <h3 class="name">David Cardlos</h3>
                    <h4 class="job">
                        <i class="fa fa-briefcase danger"></i>
                        <span>|</span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est maiores deleniti ipsam...
                    </h4>
                    <hr>
                    <h5 class="country">
                        <i class="fa fa-map-marker text-muted"></i>
                        Senegal
                    </h5>
                </div>
            </div>
        </a>
    
        <a href="#" class="users">
            <div class="couverture">
                <img src="{% static 'assets/delete/images/appDev.jpg' %}" alt="">
            </div>
            <div class="user_profile">
                <img src="{% static 'assets/delete/images/pic-4.png' %}">
                <div class="name_job_country">
                    <h3 class="name">David Cardlos</h3>
                    <h4 class="job">
                        <i class="fa fa-briefcase danger"></i>
                        <span>|</span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est maiores deleniti ipsam...
                    </h4>
                    <hr>
                    <h5 class="country">
                        <i class="fa fa-map-marker text-muted"></i>
                        Senegal
                    </h5>
                </div>
            </div>
        </a>
    </section>
</section>

