{% load static %}
<!-- ======== Image Profile ============= -->
<section class="image_profile">
    <div>
        {% if etudiant.banner_image and etudiant.banner_image.url %}
            <a href="{{ etudiant.banner_image.url }}"  data-lightbox="mygallery" class="banner">
                <img src=" {{ etudiant.banner_image.url }}" alt="">
            </a>
            {% else %}
            <a href="{% static 'assets/default/user.png' %}"  data-lightbox="mygallery" class="banner">
                <img src="{% static 'assets/default/user.png' %}">
            </a>
        {% endif %}
    </div>
        {% if etudiant.profile_image and etudiant.profile_image.url %}
            <a href="{{ etudiant.profile_image.url }}"  data-lightbox="mygallery" class="photo">
                <img src="{{ etudiant.profile_image.url }}" alt="">
                <h2> {{ etudiant.first_name }} {{ etudiant.last_name }} <p class="primary"> </p> </h2>
            </a>
        {% else %}
            <a href="{% static 'assets/default/user.png' %}"  data-lightbox="mygallery" class="photo">
                <img src="{% static 'assets/default/user.png' %}">
                <h2> {{ CustomUser.first_name }} {{ CustomUser.last_name }} <p class="primary"> {{ CustomUser.username }} </p> </h2>
            </a>
        {% endif %}
    
</section>

<br>
<div class="Followers_number">
    <div class="numbers">
        <div class="numbers_Abonnement">
            <a href="#"><i>Abonne...:</i> <span>5 000</span> &nbsp; </a>
        </div>
    
        <div class="numbers_Abonne">
            <a href="#"><i>&nbsp;| Abonnés:</i> <span>5 000</span> &nbsp;| </a>
        </div>
    
        <div class="numbers_like">
            <a href="#">&nbsp;<i class="fa fa-heart danger">&nbsp;Likes:</i> <span>5 000</span></a>
        </div>
    </div>
</div>

<div class="temoin">
    <hr class="divider">
</div>

<!-- ============ A Propos ================= -->
<br>
<section class="list-propos">
    <div class="propos-list">
        <a href="#">
            <i class="fa fa-briefcase"></i>
            <span> {{ etudiant.rôle|upper }} </span>
        </a>

        <a href="#">
            <i class="fa fa-graduation-cap"></i>
            <span> {{ etudiant.metier }} </span>
        </a>

        <a href="#">
            <i class="fa fa-map-marker"></i>
            <span> {{ etudiant.pays }} ({{ etudiant.ville }}) </span>
        </a>

        <a href="#">
            <i class="fa fa-home"></i>
            <span> {{ etudiant.quartier }} </span>
        </a>

        <a href="#">
            <i class="fa fa-flag"></i>
            <span> {{ etudiant.langue }} </span>
        </a>

        <a href="#">
            <i class="fa fa-envelope"></i>
            <span> {{ etudiant.email }} </span>
        </a>

        <a href="#">
            <i class="fa fa-phone"></i>
            <span>+{{ etudiant.indicatif_pays }} {{ etudiant.number_phone }} </span>
        </a>

        <a href="https://wa.me/+{{ etudiant.indicatif_pays }}{{ etudiant.number_whatsapp }}">
            <i class="fa fa-whatsapp"></i>
            <span> {{ etudiant.number_whatsapp }} </span>
        </a>

        <a href="https://wa.me/{{ etudiant.indicatif_pays }}{{ etudiant.number_whatsapp }}">
            <i class="fa fa-telegram"></i>
            <span> {{ etudiant.number_telegram }} </span>
        </a>

    </div>
</section>

<div class="temoin">
    <br>
    <hr class="divider">
</div>


<br>