@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Variable CSS */
:root
{
    --header-height: 3rem;

    

    /* font and typography */
    --body-font: 'Open Sans', sans-serif;

    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

:root
{
      /*========== Colors ==========*/
  --hue-color: 240;

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 1%, 4%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --container-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);
  --color-danger: hsl(0, 95%, 65%);

  --color-primary-light: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
  --color-danger-light: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
  --color-success-light: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
  --color-purple-light: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);

    /* Tailles */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem
    
}

/*========== Variables Dark theme ==========*/
body.dark-theme 
{
    --title-color: hsl(var(--hue-color), 12%, 95%);
    --text-color: hsl(var(--hue-color), 12%, 75%);
    --body-color: hsl(var(--hue-color), 10%, 16%);
    --container-color: hsl(var(--hue),24%, 12%);
}

/* ========== Les Base =========== */
*, *::before, *::after
{

    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }


html
{
    scroll-behavior: smooth;
}

body
{
    font-family: "Poppins", sans-serif;
    color: var(--title-color);
    background: var(--body-color);
    overflow-x: hidden;
}

h1
{
    font-size: 2.2rem;
}

h2
{
    font-size: 1.5rem;
}

h3
{
    font-size: 1.2rem;
}

h4
{
    font-size: 1rem;
}

h5
{
    font-size: 0.86rem;
    font-weight: 500;
}

h6
{
    font-size: 1.76rem;
}

p
{
    font-size: 00.86rem;
    color: var(--title-color);
}

small
{
    font-weight: 300;
    font-size: 0.77rem;
}

.text-muted
{
    color: gray;
}

.primary
{
    color: #299bd5;
    /* rgb(71, 7, 234) */
}

.danger
{
    color: var(--color-danger);
}

.success
{
    color: rgb(34, 202, 75);
}

.purple
{
    color: rgb(160, 99, 245);
}

.bg-primary
{
    background: #299bd5;
    /* rgb(71, 7, 234) */
    box-shadow: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
}

.bg-danger
{
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
}

.bg-success
{
    background: rgb(34, 202, 75);
    box-shadow: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
}

.bg-purple
{
    background: rgb(160, 99, 245);
    box-shadow: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);
}

.bg-dark
{
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

html
{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body
{
    background-color: var(--body-color);
}

#wrapper
{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container
{
    width: 100%;
    max-width: 40rem;
    background-color: var(--body-color);
    position: relative;
    padding-top: 7rem;
    box-shadow: 0 0 1rem #299bd5;
    border-radius: 1rem;
    z-index: 1;
}

.form-container::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    background: #299bd5;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    z-index: -1;
}

.form-heading
{
    color: var(--title-color);
    font-size: 2.5rem;
    position: absolute;
    top: 3.5rem;
    left: 10rem;
}

form
{
    transform: translateX(10rem);
    padding: 2rem 0;
    background-color: var(--body-color);
    border-radius: 1rem;
    box-shadow: 0 0 1rem #299bd5;
}

.input-group
{
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: baseline;
}

.input-group input
{
    position: relative;
    width: 100%;
    padding: 1rem 0;
    margin-top: .5rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
    background: var(--body-color);
    color: var(--title-color);
}

.input-group select
{
    position: relative;
    width: 100%;
    padding: 1rem 0;
    background: transparent;
    border: solid var(--body-color);
    color: var(--title-color);
    font-size: 1.8rem;
}

.input-group select option
{
    background: var(--body-color);
    color: var(--title-color);
}

select.form-control
{
    border-radius: 5px;
    background: var(--body-color);
    color: var(--title-color);
}

.input-group > i
{
    width: 30px;
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--title-color);
}

.input-group .bar
{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
    height: 1px;
}

.input-group .bar::before
{
    content: '';
    position: absolute;
    background-color: #299bd5;
    width: 0;
    height: 2px;
    transition: width 650ms;
}

.input-group input:focus + .bar::before
{
    width: 100%;
}

.input-group button
{
    margin: 2rem auto;
    padding: 1rem 5rem;
    background: #299bd5;
    border: none;
    color: var(--title-color);
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 3rem;
}

.input-group button:focus,
.input-group button::before
{
    background: linear-gradient(to right, var(--color-danger), var(--color-primary));
}

.choix
{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.select-btn, li
{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.select-btn
{
    padding: 1rem 0;
    font-size: 22px;
    background: transparent;
    border-radius: 7px;
    justify-content: space-between;
}

.select-btn i
{
    font-size: 31px;
    transition: transform 0.3s linear;
}

.wrapper.active .select-btn i
{
    transform: rotate(-180deg);
}

.content
{
    position: absolute;
    display: none;
    margin-top: 15px;
    background: var(--body-color);
    border-radius: 7px;
    box-shadow: 0 10px 25px #299bd5;
    z-index: 100;
}

.wrapper.active .content
{
    display: block;
}

.content .search
{
    position: relative;
}
  
.search i
{
    top: 50%;
    left: 15px;
    color: #999;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
}

.search input
{
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 20px 0 43px;
    border: 1px solid #B3B3B3;
}

.search input:focus
{
    padding-left: 42px;
    border: 2px solid #4285f4;
}

.content .options
{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
}

.options::-webkit-scrollbar
{
    width: 7px;
}
  
.options::-webkit-scrollbar-track
{
    background: var(--body-font);
    border-radius: 25px;
}
  
.options::-webkit-scrollbar-thumb
{
    background: #ccc;
    border-radius: 25px;
}
  
.options::-webkit-scrollbar-thumb:hover
{
    background: #b3b3b3;
}
  
.options li
{
    height: 50px;
    padding: 0 13px;
    font-size: 21px;
}
  
.options li:hover, li.selected
{
    border-radius: 5px;
    background: #299bd5;
}

@media screen and (max-width:700px) {
    .form-container::before{
        height: 10rem;
    }

    .form-heading{
        left: 50%;
        transform: translateX(-50%);
    }

    form{
        border-radius: initial;
        transform: initial;
        box-shadow: none;
    }

    .form-container
    {
        padding-top: 7rem;
    }
}
