@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Variable CSS */
:root
{
    --header-height: 3rem;

    

    /* font and typography */
    --body-font: 'Open Sans', sans-serif;

    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

:root
{
      /*========== Colors ==========*/
  --hue-color: 240;

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 1%, 4%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --container-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);
  --color-danger: hsl(0, 95%, 65%);

  --color-primary-light: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
  --color-danger-light: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
  --color-success-light: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
  --color-purple-light: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);

    /* Tailles */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem
    
}

/*========== Variables Dark theme ==========*/
body.dark-theme
{
    --title-color: hsl(var(--hue-color), 12%, 95%);
    --text-color: hsl(var(--hue-color), 12%, 75%);
    --body-color: hsl(var(--hue-color), 10%, 16%);
    --container-color: hsl(var(--hue),24%, 12%);
}

/* ========== Les Base =========== */
*, *::before, *::after
{

    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }


html
{
    scroll-behavior: smooth;
}

body
{
    font-family: "Poppins", sans-serif;
    color: var(--title-color);
    background: var(--body-color);
    overflow-x: hidden;
}

body::-webkit-scrollbar
{
    width: 7px;
}

body::-webkit-scrollbar-track
{
    background: var(--body-color);
    border-radius: 25px;
}

body::-webkit-scrollbar-thumb
{
    background: var(--title-color);
    border-radius: 25px;
}

body::-webkit-scrollbar-thumb:hover
{
    background: #b3b3b3;
}

h1
{
    font-size: 2.2rem;
}

h2
{
    font-size: 1.5rem;
}

h3
{
    font-size: 1.2rem;
}

h4
{
    font-size: 1rem;
}

h5
{
    font-size: 0.86rem;
    font-weight: 500;
}

h6
{
    font-size: 1.76rem;
}

p
{
    font-size: 00.86rem;
    color: var(--title-color);
}

small
{
    font-weight: 300;
    font-size: 0.77rem;
}

.text-muted
{
    color: gray;
}

.blanc
{
    color: var(--title-color);
}

.primary
{
    color: #299bd5;
    /* rgb(71, 7, 234) */
}

.danger
{
    color: var(--color-danger);
}

.success
{
    color: rgb(34, 202, 75);
}

.purple
{
    color: rgb(160, 99, 245);
}

.bg-primary
{
    background: #299bd5;
    /* rgb(71, 7, 234) */
    box-shadow: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
}

.bg-danger
{
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
}

.bg-success
{
    background: rgb(34, 202, 75);
    box-shadow: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
}

.bg-purple
{
    background: rgb(160, 99, 245);
    box-shadow: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);
}

.bg-dark
{
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

.normal
{
    color: var(--body-color);
}

/* ==================== Reusable Css Class ==================== */
/* ==================== Mise en Page ou Layout ==================== */
/* ====== Partie contenu ===== */
.temoin
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.temoin .divider
{
    width: 50%;
    border: 0.5px solid #299bd5;
    border-radius: 10px;
    margin: 1rem 0;
}

.temoin-comment
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.temoin-comment .divider
{
    width: 50%;
    border: 0.5px solid var(--title-color);
    border-radius: 10px;
    margin: 1rem 0;
}

.contenu
{
    max-width: 968px;
    margin-left: 1rem;
    left: 15%;
    align-items: center;
    margin-right: 1rem;
}

.nav_menu
{
    position: relative;
    left: 15%;
}

/* ==================== Le haut, Header en Mode Fixe ==================== */
/* ====== Le haut, Header en Mode Fixe ===== */
.header{
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: .4s;
    box-shadow: 0 0.2px 0.5px #299bd5;
    /* display: none; */
}

/* ====== Le NavBar ===== */
.nav
{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
}

/* ====== Img Profile ===== */
.nav_img
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 1px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.778),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    border: 2.5px solid #299bd5;
    object-fit: cover;
    cursor: pointer;
}

.user-profile
{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.nav_img img
{
    display: inline-block;
    padding: 0.6rem 2rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 100ms ease;
    font-size: 0.9rem;
}

.conta_menu
{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    outline: none;
    margin-top: 1px;
    border: 4px #090909 solid;
    background: linear-gradient(145deg, #171717, #444245);
    box-shadow: inset 2px 2px 0px #7d7e7c,
                inset -2px -2px 0px #1c1c1c;
    color: #fff;
}

.button-cliked
{
    background: linear-gradient(-185deg, #131313, #444245);
    box-shadow: inset -2px -2px 0px #5e5e5e,
                inset 2px 2px 0px #1c1c1c;
}

.icon-cliked
{
    color: #299bd5;
    text-shadow: 0px 0px 15px #299bd5;
    background: linear-gradient(-185deg, #131313, #444245);
    box-shadow: inset -2px -2px 0px #5e5e5e,
                inset 2px 2px 0px #1c1c1c;
}

.conta_menu:hover
{
    opacity: 0.8;
    transition: 0.3s;
    content: '';
}

.conta_menu:active
{
    transform: translateY(5px);
}

.conta_menu span
{
    font-size: 20px;
    font-weight: bold;
}

div#header-toggle.fa-times::before
{
    display: none;
}

/* ====== Le Logo ===== */
.nav_img
{
    width: 50px;
    height: 50px;
    padding: 3px;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
}

.alter_post
{
    display: none;
}

/* ====== Le Ul, Les Listes li ===== */
.nav_list,
.nav_link
{
    display: flex;
}

.nav_link
{
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    color: var(--title-color);
    font-weight: 600;
    cursor: pointer;
}

.nav_link, label
{
    cursor: pointer;
}

.nav_list
{
    justify-content: space-around;
    font-size: 17px;
    margin-left: 10px;
    margin-top: 15px;
}

/* ====== Les Spans(Les Noms des menus) ===== */
.nav_name
{
    font-size: var(--tiny-font-size);
    /* display: none; */
}

/* ====== Les icones des Menus ===== */
label.fa.nav_icon
{
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: 20px;
}

.active-link
{
    position: relative;
    border-bottom: 4px solid #299bd5;
    box-shadow: 0 0.2px 1px #299bd5;
    padding: .3rem;
    font-weight: bold;
    width: 100%;
    color: #299bd5;
    transition: .3s;
}

.active-link::before
{
    content: '';
    position: absolute;
    bottom: -.5rem;
    width: 8px;
    height: 8px;
    background-color: #299bd5;
    border-radius: 50%;
}

/*===== Change background header (Changement du Background) =====*/
.scroll-header
{
    box-shadow: 0 1px 12px #299bd5;
}

/* SidebarLeft */
/*--------------nab------------*/
.nab 
{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    padding: 16px 16px 0;
    background: var(--body-color);
    box-shadow: 0 0 0.3rem #299bd5;
    z-index: 10000;
    transition: 0.5s;
}

.show-menu 
{
    left: 0%;
}
  
.nab_container 
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 48px;
    overflow: auto;
    scrollbar-width: none;
}

.nab_container::-webkit-scrollbar 
{
    display: none;
}

.nab_logo 
{
    display: flex;
    align-items: center;
    color: var(--title-color);
    font-weight: 600;
    /* width: 100%; */
    margin: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.logo_name 
{
    display: flex;
    width: 100%;
    border-bottom: 4px solid #299bd5;
}

.logo_name::before
{
    position: relative;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #299bd5;
    border-radius: 50%;
    left: 52%;
    top: 16px;
}

.logo_name i 
{
    font-size: 25px;
    margin-right: 10px;
    color: #299bd5;
}

.nab_list,
.nab_items 
{
    display: grid;
}

.nab_list 
{
    row-gap: 40px;
}

.nab_items 
{
    row-gap: 24px;
}

.nab_link 
{
    display: flex;
    align-items: center;
    color: var(--title-color);
}

.nab_link:hover 
{
    color: #299bd5;
    background: var(--title-color);
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.2s ease-in-out;
}

.nab_icon 
{
    width: 40px;
    font-size: 19px;
}

.nab_name 
{
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
    white-space: nowrap;
}

.theme-btn
{
    margin-top: 20px;
    margin-right: 15px;
}

.theme-btn
{
    display: flex;
    background: gray;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    cursor: pointer;
}

.theme-btn span
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--title-color);
}

.theme-btn .active
{
    background: #299bd5;
    border-radius: 5px;
    color: var(--title-color);
}

.footer__signature{
    text-align: center;
    font-size: 10px;
    margin-top: 10.5rem;
  }

/* ==================== Les Responsivités ==================== */
@media screen and (width: 1680px) {
    .header
    {
        width: 100%;
        height: 6rem;
        box-shadow: 0 0.2px 0.9px #299bd5;
    }

    .nav_menu
    {
        width: 100%;
    }

    img.nav_img
    {
        width: 75px;
        height: 75px;
    }

    span.nav_name
    {
        font-size: 28px;
    }

    #nabbar
    {
        width: 130px;
    }

    #nabbar:hover 
    {
        width: 320px;
    }

    .nab_list
    {
        margin-top: 42px;
    }

    .nab_icon
    {
        font-size: 50px;
    }

    .logo_name
    {
        margin-left: 10px;
        font-size: 40px;
    }

    img.nab_icon
    {
        width: 80px;
        height: 80px;
    }

    .nab_name
    {
        font-size: 30px;
    }

    .theme-btn
    {
        width: 14rem;
        height: 5rem;
    }

    .theme-btn span
    {
        font-size: 50px;
    }

    .footer__signature
    {
        font-size: 20px;
    }
}

@media screen and (width: 1440px) {
    .header
    {
        width: 100%;
        height: 8rem;
        box-shadow: 0 0.2px 0.9px #299bd5;
    }

     .nav_menu
    {
        width: 100%;
    }

    img.nav_img
    {
        width: 75px;
        height: 75px;
    }

    span.nav_name
    {
        font-size: 28px;
    }

    #nabbar
    {
        width: 130px;
    }

    #nabbar:hover 
    {
        width: 340px;
    }

    .nab_list
    {
        margin-top: 42px;
    }

    .nab_icon
    {
        font-size: 50px;
    }

    .logo_name
    {
        margin-left: 10px;
        font-size: 40px;
    }

    img.nab_icon
    {
        width: 80px;
        height: 80px;
    }

    .nab_name
    {
        font-size: 30px;
    }

    .theme-btn
    {
        width: 14rem;
        height: 5rem;
    }

    .theme-btn span
    {
        font-size: 50px;
    }

    .footer__signature
    {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    /* ==================== Le Bas, Menus en Mode Fixe ==================== */
    /* ====== Les Menus ===== */
    .nav_menu
    {
        overflow: hidden;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--body-color);
        box-shadow: 0 0.2px 3px #299bd5;
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: .4s;
    }

    .alter_post
    {
        display: block;
    }

    .alter_post img
    {
        width: 45px;
        height: 45px;
        padding: 5px;
        margin-left: 10px;
    }

    /* ====== Les Spans(Les Noms) ===== */
    .nav_name
    {
        display: none;
    }

    label.fa.nav_icon
    {
        font-size: 1.6rem;
        margin-top: 5px;
        width: 30px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .active-link
    {
        height: 37px;
        border-bottom: 4px solid #299bd5;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        font-weight: bold;
    }

    .active-link::before
    {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #299bd5;
        border-radius: 50%;
    }

    body::-webkit-scrollbar
    {
        display: none;
    }

    nav.nav.contenu
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contenu
    {
        left: 5%;
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    div#header-toggle
    {
        position: fixed;
        left: 88%;
    }

    .Signe-logo
    {
        right: 25%;
    }

    .logo_name::before
    {
        position: relative;
        content: '';
        width: 8px;
        height: 8px;
        background-color: #299bd5;
        border-radius: 50%;
        left: 52%;
        margin-top: -15px;
    }

}

@media screen and (max-width: 320px) {
    /* ==================== Le Bas, Menus en Mode Fixe ==================== */
    /* ====== Les Menus ===== */
    /* ====== Les Spans(Les Noms) ===== */
    .nav_name
    {
        display: none;
    }
}

@media screen and (min-width: 576px) {
    /* ==================== Le Bas, Menus en Mode Fixe ==================== */
    /* ====== Les Menus ===== */
    /* ====== Les Listes li ===== */
    .nav_list
    {
        /* justify-content: center; */
        column-gap: 3rem;
    }

    
}

@media screen and (min-width: 576px) {
    /* ==================== Le Bas, Menus en Mode Fixe ==================== */
    /* ====== Les Menus ===== */
    /* ====== Les Listes li ===== */
    .nav_list
    {
        /* justify-content: center; */
        column-gap: 3rem;
    }

    
}

@media screen and (min-width: 767px) {
    /* ==================== Le haut, Menus en Mode Fixe ==================== */
    body
    {
        margin: 0;
    }

    /* ====== Le NavBar ===== */
    .nav
    {
        height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
    }

    /* ====== Img Profile ===== */
    /* .nav_img
    {
        display: none;
    } */

    /* ====== Les icones des Menus ===== */
    .nav_icon
    {
        display: none;
    }

    label.fa.nav_icon
    {
        display: none;
    }

    /* ====== Les Spans(Les Noms) ===== */
    .nav_name
    {
        font-size: var(--normal-font-size);
        display: block;
    }

    .nav_link:hover
    {
        color: #299bd5;
    }
}

@media screen and (min-width: 1024px) {
    /* ==================== Dimension Laptop, Menus en Mode Fixe ==================== */
    .contenu
    {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (width: 1024px), (width: 1728px), (width: 2048px) {
    .header
    {
        width: 100%;
        height: 5rem;
        box-shadow: 0 0.2px 0.9px #299bd5;
    }

    img.nav_img
    {
        width: 56px;
        height: 56px;
        margin-left: 121px;
    }

    span.nav_name
    {
        font-size: 20px;
    }

    #nabbar
    {
        width: 130px;
    }

    #nabbar:hover 
    {
        width: 340px;
    }

    .nab_list
    {
        margin-top: 42px;
    }

    .nab_icon
    {
        font-size: 50px;
    }

    .logo_name
    {
        margin-left: 10px;
        font-size: 40px;
    }

    img.nab_icon
    {
        width: 80px;
        height: 80px;
    }

    .nab_name
    {
        font-size: 30px;
    }

    .theme-btn
    {
        width: 14rem;
        height: 5rem;
    }

    .theme-btn span
    {
        font-size: 50px;
    }

    .footer__signature
    {
        font-size: 20px;
    }

}

@media screen and (max-width: 425px) {
    .contents
    {
        margin-left: 25px;
    }
}

@media screen and (max-width: 375px) {
    .contents
    {
        width: 350px;
    }
}

@media screen and (max-width: 300px) {
    .contents
    {
        width: 300px;
        margin-left: 5px;
    }
}

@media screen and (min-width: 360px) {
    .contents
    {
        margin-right: 5px;
    }
}

@media screen and (min-width:768px) {
  
    .nab .nab_items {
      row-gap: 27px;
    }
  
    .nab {
      left: 0;
      padding: 19px 24px 0;
      width: 88px;
    }
  
    .nab:hover {
      width: 265px;
    }
  
    .nab .nab_subititle,
    .nab .logo_name,
    .nab .nab_dropdown-icon,
    /* .nab .nabtop .nab_link:nth-child(4), */
    .nab .subscribe-contain {
      opacity: 0;
      transition: 0.5s;
    }
  
    .nab:hover .nab_subititle,
    .nab:hover .logo_name,
    .nab:hover .nab_dropdown-icon,
    .nab:hover .nabtop .nab_link:nth-child(4),
    .nab:hover .subscribe-contain {
      opacity: 1;
    }

    .conta_menu 
    {
        display: none;
    }
  
}

@media screen and (max-width: 768px) {
    span.logo_name::before
    {
        top: 32px;
    }
}