@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Variable CSS */
:root
{
    --header-height: 3rem;

    

    /* font and typography */
    --body-font: 'Open Sans', sans-serif;

    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

:root
{
      /*========== Colors ==========*/
  --hue-color: 240;

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 1%, 4%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --container-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);
  --color-danger: hsl(0, 95%, 65%);

  --color-primary-light: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
  --color-danger-light: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
  --color-success-light: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
  --color-purple-light: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);

    /* Tailles */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem
    
}

/*========== Variables Dark theme ==========*/
body.dark-theme
{
    --title-color: hsl(var(--hue-color), 12%, 95%);
    --text-color: hsl(var(--hue-color), 12%, 75%);
    --body-color: hsl(var(--hue-color), 10%, 16%);
    --container-color: hsl(var(--hue),24%, 12%);
}

/* ========== Les Base =========== */
*, *::before, *::after
{

    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }


html
{
    scroll-behavior: smooth;
}

body
{
    font-family: "Poppins", sans-serif;
    color: var(--title-color);
    background: var(--body-color);
    overflow-x: hidden;
}

body::-webkit-scrollbar
{
    width: 7px;
}

body::-webkit-scrollbar-track
{
    background: var(--body-color);
    border-radius: 25px;
}

body::-webkit-scrollbar-thumb
{
    background: var(--title-color);
    border-radius: 25px;
}

body::-webkit-scrollbar-thumb:hover
{
    background: #b3b3b3;
}

h1
{
    font-size: 2.2rem;
}

h2
{
    font-size: 1.5rem;
}

h3
{
    font-size: 1.2rem;
}

h4
{
    font-size: 1rem;
}

h5
{
    font-size: 0.86rem;
    font-weight: 500;
}

h6
{
    font-size: 1.76rem;
}

p
{
    font-size: 00.86rem;
    color: var(--title-color);
}

small
{
    font-weight: 300;
    font-size: 0.77rem;
}

.text-muted
{
    color: gray;
}

.primary
{
    color: #299bd5;
    /* rgb(71, 7, 234) */
}

.danger
{
    color: var(--color-danger);
}

.success
{
    color: rgb(34, 202, 75);
}

.purple
{
    color: rgb(160, 99, 245);
}

.bg-primary
{
    background: #299bd5;
    /* rgb(71, 7, 234) */
    box-shadow: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
}

.bg-danger
{
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
}

.bg-success
{
    background: rgb(34, 202, 75);
    box-shadow: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
}

.bg-purple
{
    background: rgb(160, 99, 245);
    box-shadow: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);
}

.bg-dark
{
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

.contenu
{
    max-width: 968px;
    margin-left: 1rem;
    left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}

.nav
{
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ==================== Le haut, Header en Mode Fixe ==================== */
/* ====== Le haut, Header en Mode Fixe ===== */
.header{
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: .4s;
    box-shadow: 0 0.2px 0.5px #299bd5;
}

.nav
{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#boutonRetour
{
    position: relative;
    overflow: hidden;
    left: 13%;
    cursor: pointer;
    top: 5px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: var(--title-color);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #299bd5;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.778),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-bottom: 10px;
}

#boutonRetour:hover
{
    opacity: 0.8;
    transition: 0.3s;
    content: '';
    background: var(--color-danger);
    color: #fff;
    font-weight: bold;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.778),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

#boutonRetour:active
{
    transform: translateY(5px);
}

#header-toggle
{
    position: absolute;
    left: 95%;
}

/*===== Change background header (Changement du Background) =====*/
.scroll-header
{
    box-shadow: 0 1px 12px #299bd5;
}

.conta_menu
{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    outline: none;
    margin-top: 1px;
    border: 4px #090909 solid;
    background: linear-gradient(145deg, #171717, #444245);
    box-shadow: inset 2px 2px 0px #7d7e7c,
                inset -2px -2px 0px #1c1c1c;
    color: var(--title-color);
}

.button-cliked
{
    background: linear-gradient(-185deg, #131313, #444245);
    box-shadow: inset -2px -2px 0px #5e5e5e,
                inset 2px 2px 0px #1c1c1c;
}

.icon-cliked
{
    color: #299bd5;
    text-shadow: 0px 0px 15px #299bd5;
    background: linear-gradient(-185deg, #131313, #444245);
    box-shadow: inset -2px -2px 0px #5e5e5e,
                inset 2px 2px 0px #1c1c1c;
}

.conta_menu:hover
{
    opacity: 0.8;
    transition: 0.3s;
    content: '';
}

.conta_menu:active
{
    transform: translateY(5px);
}

.conta_menu span
{
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 10px;
    margin-left: 9px;
}

div#header-toggle.fa-times::before
{
    display: none;
}

.sidebar
{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    padding: 16px 16px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    z-index: 10000;
    transition: 0.50s ease;
}

.show-menu 
{
    left: 0%;
}

.sidebar .logo {
    color: var(--title-color);
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
    border-bottom: 4px solid #299bd5;
}

.sidebar .logo::before
{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #299bd5;
    border-radius: 50%;
    left: 50%;
    top: 100px;
}

.logo img {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.778),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}

.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: var(--color-danger);
    margin-left: 10px;
    transition: 0.2s ease-in-out;
}

.links h4 {
    color: var(--color-danger);
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li span {
    padding: 12px 10px;
    color: #299bd5;
}

.links li a {
    padding: 10px;
    color: var(--title-color);
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}

.links .logout-link {
    margin-top: 20px;
}

.Followers_number
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Followers_number .numbers
{
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Followers_number .numbers div a
{
    font-size: 15px;
    color: var(--title-color);
}

.Followers_number .numbers div a span
{
    color: #299bd5;
}

.temoin
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.temoin .divider
{
    width: 50%;
    border: 0.5px solid var(--color-danger);
    border-radius: 10px;
    margin: 1rem 0;
}

/* ======== Image Profile ============= */
.image_profile
{
    width: 100%;
    height: 230px;
}

.banner img
{
    width: 100%;
    height: 131px;
    object-fit: cover;
    cursor: pointer;
    border: 2.5px solid #299bd5;
}

.photo
{
    padding-left: 5px;
}

.photo h2
{
    margin-left: 160px;
    color: var(--title-color);
}

.photo img
{
    position: absolute;
    top: 150px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.778),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    border: 2.5px solid #299bd5;
    object-fit: cover;
}

/* ============ A Propos ================= */
.list-propos, .propos-list
{
    display: grid;
}

.list-propos
{
    row-gap: 40px;
}

.propos-list
{
    row-gap: 15px;
}

.propos-list a
{
    display: flex;
    align-items: center;
    color: var(--title-color);
}

.propos-list a i
{
    width: 40px;
    font-size: 20px;
}

.propos-list a span
{
    width: 250px;
    margin-left: 10px;
}

.Profilage
{
    height: 30px;
    width: 100%;
    background: #299bd5;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.778),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: none;
    color: var(--title-color);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Profilage a
{
    color: var(--title-color);
}

.Profilage:hover, .Profilage a:hover
{
    opacity: 0.8;
    transition: 0.3s;
    content: '';
    background: var(--color-danger);
    color: #fff;
    font-weight: bold;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.778),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

.Profilage a:hover
{
    padding: 5px;
}

@media screen and (min-width:768px) {
    .conta_menu
    {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #header-toggle
    {
        left: 83%;
    }

    .conta_menu, .header
    {
        display: block;
    }

    .links li a, .links h4, .logo h2 {
        display: block;
    }

    body::-webkit-scrollbar
    {
        display: none;
    }

    .sidebar .logo::before
    {
        top: 97px;
    }
}

@media screen and (min-width:768px) {
    .sidebar .links
    {
        row-gap: 27px;
    }

    .sidebar {
        left: 0;
        padding: 19px 24px 0;
        width: 88px;
    }

    .sidebar:hover
    {
        width: 265px;
    }
}