@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root
{
      /*========== Colors ==========*/
  --hue-color: 240;

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 1%, 4%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --container-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);
  --color-danger: hsl(0, 95%, 65%);

  --color-primary-light: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
  --color-danger-light: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
  --color-success-light: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
  --color-purple-light: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);

    /* Tailles */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem
    
}

/*========== Variables Dark theme ==========*/
body.dark-theme 
{
    --title-color: hsl(var(--hue-color), 12%, 95%);
    --text-color: hsl(var(--hue-color), 12%, 75%);
    --body-color: hsl(var(--hue-color), 10%, 16%);
    --container-color: hsl(var(--hue),24%, 12%);
}

/* ========== Les Base =========== */
*, *::before, *::after
{

    padding: 0;
    outline: 0;
    box-sizing: border-box;
    /* text-decoration: none;
    list-style: none; */
    border: none;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    appearance: none;
    /* text-decoration: none;
    list-style: none; */
    box-sizing: border-box;
}

html
{
    font-size: 12px;
}

body
{
    background: var(--body-color);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    color: var(--title-color);
}

h1
{
    font-size: 2.2rem;
}

h2
{
    font-size: 1.5rem;
}

h3
{
    font-size: 1.2rem;
}

h4
{
    font-size: 1rem;
}

h5
{
    font-size: 0.86rem;
    font-weight: 500;
}

h6
{
    font-size: 1.76rem;
}

small
{
    font-weight: 300;
    font-size: 0.77rem;
}

.text-muted
{
    color: gray;
}

.primary
{
    color: #299bd5;
    /* rgb(71, 7, 234) */
}

.danger
{
    color: var(--color-danger);
}

.success
{
    color: rgb(34, 202, 75);
}

.purple
{
    color: rgb(160, 99, 245);
}

.bg-primary
{
    background: #299bd5;
    /* rgb(71, 7, 234) */
    box-shadow: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
}

.bg-danger
{
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
}

.bg-success
{
    background: rgb(34, 202, 75);
    box-shadow: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
}

.bg-purple
{
    background: rgb(160, 99, 245);
    box-shadow: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);
}

.bg-dark
{
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

.sidebarRight-actu
{
    position: fixed;
    width: 310px;
    top: 9%;
    right: 0%;
    height: 100%;
    border-radius: 1px;
    background: var(--body-color);
    z-index: 100;
    transition: 0.5s;
    border-left: 0.5px solid #299bd5;
    margin-right: 7px;
    overflow: hidden;
}

.menus-sections
{
    position: fixed;
    width: 320px;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: .4s;
    border-bottom: 0.5px solid #299bd5;
}

.menus-sections ul
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.menus-sections ul li
{
    font-size: 15px;
    text-align: center;
    border-bottom: 4px solid var(--text-color-light);
    padding: .5rem;
    width: 100%;
    cursor: pointer;
}

a.freinds.freind-active
{ 
    width: 100%;
    font-weight: bold;
    border-bottom: 4px solid var(--color-danger);
    padding: .5rem;
    background: var(--text-color-light);
    border-radius: 2px;
    transition: .3s;
}

.menus-sections ul li a
{
    color: var(--title-color);
}

.mid-content
{
    position: relative;
    top: 60px;
}

.mid-content [data-content]
{
    display: none;
}


.filters__active[data-content]
{
    display: block;
}

.content-freind
{
    margin-top: 2.5rem;
}

.mes-contacts
{
    overflow-y: scroll;
    height: 80.1vh;
    box-shadow: 0 0.2px 0.5px #299bd5;
    padding: 5px;
}

.mes-contacts::-webkit-scrollbar
{
    width: 2px;
}

.mes-contacts::-webkit-scrollbar-track
{
    background: var(--body-color);
    border-radius: 25px;
}

.mes-contacts::-webkit-scrollbar-thumb
{
    background: var(--title-color);
    border-radius: 25px;
}

.mes-contacts::-webkit-scrollbar-thumb:hover
{
    background: #b3b3b3;
}

.users-freind
{
    display: flex;
    margin-left: 5px;
    margin-bottom: 1rem;
    gap: 1rem;
    align-items: start;
}

.users-freind .profile-users-freind
{
    position: relative;
    overflow: visible;
}

.users-freind .profile-users-freind img
{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid var(--title-color);
}

.infos-users-freind
{
    margin-top: 2%;
}

.infos-users-freind h5
{
    font-size: 15px;
    color: var(--title-color);
}

.infos-users-freind span
{
    color: var(--title-color);
}

.type i
{
    color: #299bd5;
}

.search-users-freind
{
    position: fixed;
    top: 17.5%;
    z-index: 1;
    margin-left: 5px;
}

.search-users-freind input
{
    border-bottom: 2px solid #299bd5;
    border-top: 2px solid #299bd5;
    border-left: 1px solid var(--title-color);
    border-right: 1px solid var(--title-color);
    border-radius: 10px;
    width: 307px;
    color: var(--title-color);
    padding: 8px 12px;
    background: var(--body-color);
}

.search-users-freind input:focus
{
    border-bottom-color: var(--color-danger);
    border-top-color: var(--color-danger);
}

/* ================== Responsive ================= */
@media screen and (width: 1680px) {
    .sidebarRight-actu
    {
        top: 9%;
        width: 520px;
        /* height: 100%; */
    }
}

@media screen and (width: 1440px) {
    .sidebarRight-actu
    {
        top: 11%;
        width: 425px;
        /* height: 100%; */
    }
}

@media screen and (width: 1728px) {
    .sidebarRight-actu
    {
        top: 9%;
        width: 597px;
        /* height: 88.1vh; */
    }
}

@media screen and (max-width: 768px)
{
    .sidebarRight-actu
    {
        display: none;
    }
}