{% load static %}
<!-- ======== Image Profile ============= -->
{% if user_boutique %}
    <section class="image_profile">
        <div>
            {% if user_boutique.banner_image and user_boutiquee.banner_image.url %}
                <a href="{{ user_boutique.banner_image.url }}"  data-lightbox="mygallery" class="banner">
                    <img src=" {{ user_boutique.banner_image.url }}" alt="">
                </a>
                {% else %}
                <a href="{% static 'assets/default/user.png' %}" class="banner">
                        <img src="{% static 'assets/default/user.png' %}">
                </a>
            {% endif %}
        </div>

            {% if user_boutique.photo_profil and user_boutique.photo_profil.url %}
                <a href="{{ user_boutique.photo_profil.url }}"  data-lightbox="mygallery" class="photo">
                        <img src="{{ user_boutique.photo_profil.url }}" alt="">
                    <h2> {{ user_boutique.nom_boutique }} 
                        <p class="primary"> {{ user_boutique.devise_boutique }} </p> 
                    </h2>
                </a>
                {% else %}
                <a href="{% static 'assets/default/user.png' %}">
                    <img src="{% static 'assets/default/user.png' %}">
                    <h2> {{ user_boutique.nom_boutique }} 
                        <p class="primary"> {{ user_boutique.devise_boutique }} </p> 
                    </h2>
                </a>
            {% endif %}
        
    </section>

    <div class="temoin">
        <hr class="divider">
    </div>

    <!-- ============ A Propos ================= -->
    <br>
    <section class="list-propos">
        <div class="propos-list">
            <center>
                <span> <i>{{ user_boutique.description|safe }}</i> </span>
            </center>
            <br>

            <a href="#">
                <i class="fa fa-envelope"></i>
                <span> {{ user_boutique.user.email }} </span>
            </a>

            <a href="#">
                <i class="fa fa-phone"></i>
                <span>{{ user_boutique.user.indicatif_pays }} {{ user_boutique.user.number_phone }} </span>
            </a>

            <a href="https://wa.me/{{ boutique.user.indicatif_pays }}{{ boutique.user.number_whatsapp }}">
                <i class="fa fa-whatsapp"></i>
                <span> {{ user_boutique.user.number_whatsapp }} </span>
            </a>

            <a href="#">
                <i class="fa fa-instagram"></i>
                <span> {{ user_boutique.user.number_whatsapp }} </span>
            </a>

            <a href="#">
                <i class="fa fa-twitter"></i>
                <span> {{ user_boutique.user.number_whatsapp }} </span>
            </a>
        </div>
    </section>

    <div class="temoin">
        <br>
        <hr class="divider">
    </div>

{% endif %}