{% extends 'Personnel/profiles/layouts/bases.html' %}

{% block Profile_Personnel %}
{% load static %}

    <section class="center">
        <section class="posts">
            {% include 'common/profile/public/Personnel/layouts/propos.html' %}
            <button class="Profilage"> 
                <a href="#"> 
                    Son CV
                </a>
            </button>
            {% include 'common/profile/public/Personnel/posts.html' %}
        </section>

        {% include 'Personnel/layouts/sidebar.html' %}
    </section>

{% endblock %}