{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALSEN</title>

    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/ressources/styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/contenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/sidebar-right.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/slide.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/lightbox.min.css' %}">

</head>
<body>
    
    <!-- ==================== Le haut, Header en Mode Fixe ==================== -->
    <section class="header" id="header">
        <!-- ===== Le NavBar ===== -->
        <nav class="nav contenu">

            <button id="boutonRetour">
                <i class="fa fa-arrow-left" aria-hidden="true"> Retour </i>
            </button>

            <div id="header-toggle">
                
                <div class="conta_menu">
                    <span class="fa fa-bars"></span>
                </div>

            </div>
                <!-- ===== Fin Des Menus ===== -->
                <!-- ===== Fin de Img Profile ===== -->
        </nav>
        <!-- ===== Fin du NavBar ===== -->
    </section>
    <!-- ==================== Fin du haut, Header en Mode Fixe ==================== -->


    <!-- ==================== Sidebar ==================== -->
    <section class="sidebar" id="nabbar">
        <div class="logo">
            {% if CustomUser.profile_image and CustomUser.profile_image.url %}
                <img src="{{ CustomUser.profile_image.url }}" alt="logo">
            {% else %}
                    <img src="{% static 'assets/default/user.png' %}"class="nav_img">
            {% endif %}
            <h2> {{ CustomUser.first_name }} {{ CustomUser.last_name }} <span class="primary">{{ CustomUser.username }}</span> </h2>
        </div>
        <ul class="links">
        <h4>Menu</h4>
        <li>
            <span class="fa fa-file-photo-o"></span>
            <a href="update_banner"> Photo de couverture </a>
        </li>
        <li>
            <span class="fa fa-image"></span>
            <a href="update_profile"> Photo de Profil </a>
        </li>
        <li>
            <span class="fa fa-home"></span>
            <a href="en_profile"> Vos Posts </a>
        </li>
        <li>
            <span class="fa fa-handshake-o"></span>
            <a href="en_job"> Vos Offres </a>
        </li>

        <hr>
        <h4> Avancé </h4>

        <li>
            <span class="fa fa-money"></span>
            <a href="#"> Porte Monnaie </a>
        </li>

        <li>
            <span class="fa fa-dashboard"></span>
            <a href="#"> Gestion </a>
        </li>
        <li>
            <span class="fa fa-line-chart"></span>
            <a href="#">Rapport de vos postes</a>
        </li>
        <hr>
        <h4> Votre Compte </h4>
        <li>
            <span class="fa fa-bar-chart-o"></span>
            <a href="#"> Analyser votre compte </a>
        </li>
        <li>
            <span class="fa fa-envelope"></span>
            <a href="#"> Votre Box </a>
        </li>
        <li>
            <span class="fa fa-cogs"></span>
            <a href="#"> Paramétres </a>
        </li>
        </ul>
    </section>
    <!-- ==================== End Sidebar ==================== -->

    <!-- Contenu -->
    <main class="middle">
        {% block Profile_Entreprise %}
        
        {% endblock %}
    </main>

    

    <script src="{% static 'assets/ressources/scripts/profile.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/header.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/post.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/theme.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/sidebar-right.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/lightbox-plus-jquery.min.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/Retour.js' %}"></script>
    <script src="{% static 'assets/algos/scripts/secrete.js' %}"></script>
</body>
</html>