{% load static %}

<section class="posts">
    {% include 'common/profile/layouts/profil_boutique.html' %}

    <!-- ============ Posts ================= -->
    <section class="professionnals gallery mon_profil">
        <ul class="images">

            <li class="card filter">
                <a href="#">
                    <img src="{% static 'assets/delete/banner/test.JPG' %}" alt="img">
                </a>
                
                <div class="details">
                    <div class="photographer">
                        <i class="fa fa-camera"></i>
                        <a href="#"> 
                                <img src="{% static 'assets/delete/banner/test.JPG' %}" alt="Profile">
                            <span>
                                Shoes 
                                <p class="danger">
                                    12/11/96
                                </p>
                            </span>
                        </a>
                    </div>
                    <button><i class="fa fa-download"></i></button>
                </div>
            </li>
            
        </ul>
    </section>

</section>