{% load static %}

<!-- ============ Posts ================= -->
{% for post in CustomUser.post_set.all|dictsortreversed:'date_creation_post' %}
    <section class="actuality">
        <section class="profile">
            <a href="#" class="user_infos">
                <div class="user_Photo">
                    {% if post.user.profile_image and post.user.profile_image.url %}
                            <img src="{{ post.user.profile_image.url}}">
                        {% else %}
                            <img src="{% static 'assets/default/user.png' %}">
                    {% endif %}
                </div>
                <div class="user_details">
                    <div class="name">
                        <h3 class="name-user">
                            {{ post.user.first_name }} {{ post.user.last_name }} 
                        </h3>
                    </div>
                    <div class="user_localhome">
                        <span class="fa fa-map-marker"> 
                            <b>{{ post.user.quartier }}  - {{ post.user.ville }}  - {{ post.user.pays }}</b> 
                        </span>
                    </div>
                    <div class="time_post">
                        <span class="primary fa fa-clock-o"> {{ post.date_creation_post }} </span>
                    </div>
                </div>
            </a>
            <div class="action">
                <div><i class="fa fa-ellipsis-h"></i></div>
                <ul>
                    <li class="current"><a href="{% url 'update_post' id=post.id %}">Modifier</a></li>
                    <li><a href="{% url 'delete_post' id=post.id %}">Supprimer</a></li>
                </ul>
            </div>
        </section>

        <section class="content_post">
            <div class="content-post">
                <div class="title">
                    List One List
                </div>
                <div class="description-post">
                    <p>
                        {{ post.contenu_post|safe }}
                    </p>
                </div>
            </div>
            <div class="post-details">
                <div class="contenu">
                    <p>Partager avec</p>
                    <ul class="icons">
                        <a href="#"><i class="fa fa-facebook-f"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-whatsapp"></i></a>
                        <a href="#"><i class="fa fa-commenting-o"></i></a>
                    </ul>
                    <p>Ou copier le lien</p>
                    <div class="field">
                        <i class="fa fa-link"></i>
                        <input type="text" readonly value="omarou">
                        <button>Copier</button>
                    </div>
                </div>
                {% for media in post.mediaspost_set.all %}
                    {% if media.image %}
                        <a href="{{ media.image.url }}" data-lightbox="mygallery" class="img">
                            <img src="{{ media.image.url }}" class="affiche" alt="Post Image">
                        </a>
                    {% endif %}
                {% endfor %}

                {% if post.video %}
                    <video autoplay muted controls loop disablepictureinpicture controlslist="nodownload noplaybackrate" class="img affiche">
                        <source src="{{ post.video.url }}" type="video/mp4">
                    </video>
                {% endif %}
            </div>
        </section>
        
        <div class="infos_followings">
            <section class="like">
                <a href="#">
                    <i class="fa fa-thumbs-up danger"></i>
                    <i class="text"> Aimé par</i> 
                    <b class="primary">8 000</b>
                    <i class="text">membres. &nbsp;</i>
                </a>
            </section>

            <section class="shares">
                <a href="#">
                    <i class="fa fa-share-alt danger"></i>
                    <i class="text">Et partagé par</i> 
                    <b class="primary">8 000</b>
                    <i class="text">membres.</i>
                </a>
            </section>
        </div>

        <section class="followers">
            <label href="#" class="like_btn">
                <span id="icon">
                    <i class="fa fa-thumbs-up" id="count"> 0</i>
                </span>
            </label>

            <label href="#">
                <i class="fa fa-comments"></i>
            </label>

            <label href="#" id="pop-share">
                <i class="fa fa-share-alt"></i>
            </label>
        </section>
        

    </section>
{% endfor %}
