{% load static %}
<section class="sidebar-right-actu">
    <div class="sidebarRight-actu">
        <div class="contacts">
            <div class="menus-sections">
                <ul class="freind-link">
                    <li>
                        <a class="freinds freind-active filter-tab-active" data-target="#Amis">
                            Amis
                        </a>
                    </li>
        
                    <li>
                        <a class="freinds" data-target="#Boutiques">
                            Boutiques
                        </a>
                    </li>
                </ul>
            </div>
        
            <div class="mid-content">
                <section class="zone-freind filters__active" data-content id="Amis">
                    <div class="mes-contacts">
                        <div class="search-users-freind">
                            <input type="search" placeholder="Search">
                        </div>
                        <div class="content-freind">
                            <a href="#" class="users-freind">
                                <div class="profile-users-freind">
                                    <img src="{% static 'assets/delete/images/pic-4.png' %}">
                                </div>
                                <div class="infos-users-freind">
                                    <h5> Oumar Thoubou </h5>
                                    <span> 
                                        <i class="fa fa-map-marker primary"></i>
                                        <b>Mbour1 - Thiès - Sénégal</b> 
                                    </span>
                                </div>
                            </a>
        
                            <a href="#" class="users-freind">
                                <div class="profile-users-freind">
                                    <img src="{% static 'assets/delete/images/pic-4.png' %}">
                                </div>
                                <div class="infos-users-freind">
                                    <h5> Oumar Thoubou </h5>
                                    <span> 
                                        <i class="fa fa-map-marker primary"></i>
                                        <b>Mbour1 - Thiès - Sénégal</b> 
                                    </span>
                                </div>
                            </a>
        
                            <a href="#" class="users-freind">
                                <div class="profile-users-freind">
                                    <img src="{% static 'assets/delete/images/pic-4.png' %}">
                                </div>
                                <div class="infos-users-freind">
                                    <h5> Oumar Thoubou </h5>
                                    <span> 
                                        <i class="fa fa-map-marker primary"></i>
                                        <b>Mbour1 - Thiès - Sénégal</b> 
                                    </span>
                                </div>
                            </a>
        
                            <a href="#" class="users-freind">
                                <div class="profile-users-freind">
                                    <img src="{% static 'assets/delete/images/pic-4.png' %}">
                                </div>
                                <div class="infos-users-freind">
                                    <h5> Oumar Thoubou </h5>
                                    <span> 
                                        <i class="fa fa-map-marker primary"></i>
                                        <b>Mbour1 - Thiès - Sénégal</b> 
                                    </span>
                                </div>
                            </a> 
        
                            <a href="#" class="users-freind">
                                <div class="profile-users-freind">
                                    <img src="{% static 'assets/delete/images/pic-4.png' %}">
                                </div>
                                <div class="infos-users-freind">
                                    <h5> Oumar Thoubou </h5>
                                    <span> 
                                        <i class="fa fa-map-marker primary"></i>
                                        <b>Mbour1 - Thiès - Sénégal</b> 
                                    </span>
                                </div>
                            </a>
        
                            <a href="#" class="users-freind">
                                <div class="profile-users-freind">
                                    <img src="{% static 'assets/delete/images/pic-4.png' %}">
                                </div>
                                <div class="infos-users-freind">
                                    <h5> Oumar Thoubou </h5>
                                    <span> 
                                        <i class="fa fa-map-marker primary"></i>
                                        <b>Mbour1 - Thiès - Sénégal</b> 
                                    </span>
                                </div>
                            </a>
        
                            <a href="#" class="users-freind">
                                <div class="profile-users-freind">
                                    <img src="{% static 'assets/delete/images/pic-4.png' %}">
                                </div>
                                <div class="infos-users-freind">
                                    <h5> Oumar Thoubou </h5>
                                    <span> 
                                        <i class="fa fa-map-marker primary"></i>
                                        <b>Mbour1 - Thiès - Sénégal</b> 
                                    </span>
                                </div>
                            </a>
        
                            <a href="#" class="users-freind">
                                <div class="profile-users-freind">
                                    <img src="{% static 'assets/delete/images/pic-4.png' %}">
                                </div>
                                <div class="infos-users-freind">
                                    <h5> Oumar Thoubou </h5>
                                    <span> 
                                        <i class="fa fa-map-marker primary"></i>
                                        <b>Mbour1 - Thiès - Sénégal</b> 
                                    </span>
                                </div>
                            </a>
                        </div>
                        
                    </div>
                </section>
        
                <section class="zone-freind" data-content id="Boutiques">
                    <div class="mes-contacts">
                        <div class="search-users-freind">
                            <input type="search" placeholder="Search">
                        </div>
                        <div class="content-freind">
                            <a href="#" class="users-freind">
                                <div class="profile-users-freind">
                                    <img src="{% static 'assets/delete/images/pic-4.png' %}">
                                </div>
                                <div class="infos-users-freind">
                                    <h5> Oumar Thoubou </h5>
                                    <span> 
                                        <i class="fa fa-map-marker primary"></i>
                                        <b>Mbour1 - Thiès - Sénégal</b> 
                                    </span>
                                </div>
        
                                <div class="type">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                            </a>
        
                            <a href="#" class="users-freind">
                                <div class="profile-users-freind">
                                    <img src="{% static 'assets/delete/images/pic-4.png' %}">
                                </div>
                                <div class="infos-users-freind">
                                    <h5> Oumar Thoubou </h5>
                                    <span> 
                                        <i class="fa fa-map-marker primary"></i>
                                        <b>Mbour1 - Thiès - Sénégal</b> 
                                    </span>
                                </div>
        
                                <div class="type">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                            </a>
        
                            <a href="#" class="users-freind">
                                <div class="profile-users-freind">
                                    <img src="{% static 'assets/delete/images/pic-4.png' %}">
                                </div>
                                <div class="infos-users-freind">
                                    <h5> Oumar Thoubou </h5>
                                    <span> 
                                        <i class="fa fa-map-marker primary"></i>
                                        <b>Mbour1 - Thiès - Sénégal</b> 
                                    </span>
                                </div>
        
                                <div class="type">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                            </a>
        
                            <a href="#" class="users-freind">
                                <div class="profile-users-freind">
                                    <img src="{% static 'assets/delete/images/pic-4.png' %}">
                                </div>
                                <div class="infos-users-freind">
                                    <h5> Oumar Thoubou </h5>
                                    <span> 
                                        <i class="fa fa-map-marker primary"></i>
                                        <b>Mbour1 - Thiès - Sénégal</b> 
                                    </span>
                                </div>
        
                                <div class="type">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                            </a>
        
                            <a href="#" class="users-freind">
                                <div class="profile-users-freind">
                                    <img src="{% static 'assets/delete/images/pic-4.png' %}">
                                </div>
                                <div class="infos-users-freind">
                                    <h5> Oumar Thoubou </h5>
                                    <span> 
                                        <i class="fa fa-map-marker primary"></i>
                                        <b>Mbour1 - Thiès - Sénégal</b> 
                                    </span>
                                </div>
        
                                <div class="type">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                            </a>
        
                            <a href="#" class="users-freind">
                                <div class="profile-users-freind">
                                    <img src="{% static 'assets/delete/images/pic-4.png' %}">
                                </div>
                                <div class="infos-users-freind">
                                    <h5> Oumar Thoubou </h5>
                                    <span> 
                                        <i class="fa fa-map-marker primary"></i>
                                        <b>Mbour1 - Thiès - Sénégal</b> 
                                    </span>
                                </div>
        
                                <div class="type">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                            </a>
        
                            <a href="#" class="users-freind">
                                <div class="profile-users-freind">
                                    <img src="{% static 'assets/delete/images/pic-4.png' %}">
                                </div>
                                <div class="infos-users-freind">
                                    <h5> Oumar Thoubou </h5>
                                    <span> 
                                        <i class="fa fa-map-marker primary"></i>
                                        <b>Mbour1 - Thiès - Sénégal</b> 
                                    </span>
                                </div>
        
                                <div class="type">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                            </a>
        
                            <a href="#" class="users-freind">
                                <div class="profile-users-freind">
                                    <img src="{% static 'assets/delete/images/pic-4.png' %}">
                                </div>
                                <div class="infos-users-freind">
                                    <h5> Oumar Thoubou </h5>
                                    <span> 
                                        <i class="fa fa-map-marker primary"></i>
                                        <b>Mbour1 - Thiès - Sénégal</b> 
                                    </span>
                                </div>
        
                                <div class="type">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                            </a> 
                        </div>
                    
                    </div>
                </section>
            </div>
        </div>               
    </div>
</section>