{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALSEN</title>

    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/ressources/styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/contenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/sidebar-right.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/slide.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/lightbox.min.css' %}">

</head>
<body>
    
    <!-- ==================== Le haut, Header en Mode Fixe ==================== -->
    <section class="header" id="header">
        <!-- ===== Le NavBar ===== -->
        <nav class="nav contenu">

            <button id="boutonRetour">
                <i class="fa fa-arrow-left" aria-hidden="true"> Retour </i>
            </button>

            <div id="header-toggle">
                
                <div class="conta_menu">
                    <span class="fa fa-bars"></span>
                </div>

            </div>
                <!-- ===== Fin Des Menus ===== -->
                <!-- ===== Fin de Img Profile ===== -->
        </nav>
        <!-- ===== Fin du NavBar ===== -->
    </section>
    <!-- ==================== Fin du haut, Header en Mode Fixe ==================== -->


    

    <!-- Contenu -->
    <main class="middle">
        {% block Profile_Personnel %}
        
        {% endblock %}
    </main>

    

    <script src="{% static 'assets/ressources/scripts/profile.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/header.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/post.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/theme.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/sidebar-right.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/lightbox-plus-jquery.min.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/Retour.js' %}"></script>
    <script src="{% static 'assets/algos/scripts/secrete.js' %}"></script>


</body>
</html>