{% extends 'Ecole/layouts/base.html' %}

{% block Profile_Ecole %}
{% load static %}

    <section class="center">
        <section class="posts">
            {% include 'common/profile/layouts/propos.html' %}
            <button class="Profilage"> 
                <a href="#"> 
                    Savoir Plus sur Votre Ecole
                </a>
            </button>
            {% include 'common/profile/posts.html' %}
        </section>

        {% include 'Ecole/layouts/sidebar.html' %}
    </section>

{% endblock %}