@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Variable CSS */
:root
{
    --header-height: 3rem;

    

    /* font and typography */
    --body-font: 'Open Sans', sans-serif;

    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

:root
{
      /*========== Colors ==========*/
  --hue-color: 240;

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 1%, 4%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --container-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);
  --color-danger: hsl(0, 95%, 65%);

  --color-primary-light: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
  --color-danger-light: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
  --color-success-light: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
  --color-purple-light: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);

    /* Tailles */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem
    
}

/*========== Variables Dark theme ==========*/
body.dark-theme 
{
    --title-color: hsl(var(--hue-color), 12%, 95%);
    --text-color: hsl(var(--hue-color), 12%, 75%);
    --body-color: hsl(var(--hue-color), 10%, 16%);
    --container-color: hsl(var(--hue),24%, 12%);
}

/* ========== Les Base =========== */
*, *::before, *::after
{

    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }


html
{
    scroll-behavior: smooth;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    color: var(--title-color);
    background: var(--body-color);
    overflow-x: hidden;
}

h1
{
    font-size: 2.2rem;
}

h2
{
    font-size: 1.5rem;
}

h3
{
    font-size: 1.2rem;
}

h4
{
    font-size: 1rem;
}

h5
{
    font-size: 0.86rem;
    font-weight: 500;
}

h6
{
    font-size: 1.76rem;
}

p
{
    font-size: 00.86rem;
    color: var(--title-color);
}

small
{
    font-weight: 300;
    font-size: 0.77rem;
}

.text-muted
{
    color: gray;
}

.primary
{
    color: #299bd5;
    /* rgb(71, 7, 234) */
}

.danger
{
    color: var(--color-danger);
}

.success
{
    color: rgb(34, 202, 75);
}

.purple
{
    color: rgb(160, 99, 245);
}

.bg-primary
{
    background: #299bd5;
    /* rgb(71, 7, 234) */
    box-shadow: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
}

.bg-danger
{
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
}

.bg-success
{
    background: rgb(34, 202, 75);
    box-shadow: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
}

.bg-purple
{
    background: rgb(160, 99, 245);
    box-shadow: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);
}

.bg-dark
{
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

.container
{
    width: 650px;
    height: auto;
    overflow: hidden;
    background: var(--body-color);
    border-radius: 10px;
    transition: height 0.2s ease;
    /* box-shadow: 0 12px 28px #299bd5; */
    margin-top: 10px;
}

.container.active
{
    height: 590px;
}

.container header
{
    color: var(--title-color);
    font-size: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.temoin
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.temoin .divider
{
    width: 50%;
    border: 0.5px solid #299bd5;
    border-radius: 10px;
    margin: 1rem 0;
}

.wrapper .profile
{
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--title-color);
}

.wrapper .profile .user_infos
{
    display: flex;
    align-items: center;
}

.wrapper .profile .user_infos img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
    overflow: hidden;
}

.lieux span
{
    color: #299bd5;
}

.lieux span b
{
    color: var(--title-color);
    font-size: 10px;
}

form
{
    margin-top: 1px;
}

form .texta
{
    font-size: 100px;
}

.post_files
{
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.image_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

figcaption
{
    margin: 10px 0 9px 0;
    width: 80px;
    text-align: center;
    color: var(--title-color);
}

.caption-image img
{
    display: block;
    position: relative;
    width: 116px;
    height: 68px;
    border: none;
    margin-left: 115px;
}

.caption-video video
{
    align-items: center;
    display: block;
    position: relative;
    width: 80px;
    max-height: 60px;
    width: 116px;
    max-height: 55px;
    border: none;
}

.files input[type="file"]
{
    display: none;
}

.buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-image label
{
    display: block;
    position: relative;
    background: var(--body-color);
    box-shadow: 0 0 0.2rem var(--title-color);
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding: 0.5rem 3rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
}

.file-video label
{
    display: block;
    position: relative;
    background: var(--body-color);
    box-shadow: 0 0 0.2rem var(--title-color);
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding: 0.5rem 3rem;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: 30px;
    cursor: pointer;
}


form .button button
{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: var(--title-color);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #299bd5;
    margin-top: 10px;
    margin-bottom: 10px;
}