{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="images/jpg" rel="icon" href="{% static 'assets/logo/galsen.jpg' %}">

    <title> GALSEN </title>

    <!-- Box Icone -->
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'assets/formulaires/styles/create.css' %}">

</head>
<body>
    
    <div class="container">
        <div class="wrapper">

            {% block Base %}
        
            {% endblock %}

        </div>
    </div>

    <script src="{% static 'assets/ressources/scripts/theme.js' %}"></script>
    <script src="{% static 'assets/formulaires/scripts/create.js' %}"></script>
    <script src="{% static 'assets/algos/scripts/secrete.js' %}"></script>
</body>
</html>