@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Variable CSS */
:root
{
    --header-height: 3rem;

    

    /* font and typography */
    --body-font: 'Open Sans', sans-serif;

    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

:root
{
      /*========== Colors ==========*/
  --hue-color: 240;

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 1%, 4%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --container-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);
  --color-danger: hsl(0, 95%, 65%);

  --color-primary-light: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
  --color-danger-light: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
  --color-success-light: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
  --color-purple-light: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);

    /* Tailles */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem
    
}

/*========== Variables Dark theme ==========*/
body.dark-theme 
{
    --title-color: hsl(var(--hue-color), 12%, 95%);
    --text-color: hsl(var(--hue-color), 12%, 75%);
    --body-color: hsl(var(--hue-color), 10%, 16%);
    --container-color: hsl(var(--hue),24%, 12%);
}

/* ========== Les Base =========== */
*, *::before, *::after
{

    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }


html
{
    scroll-behavior: smooth;
}

body
{
    font-family: "Poppins", sans-serif;
    color: var(--title-color);
    background: var(--body-color);
    overflow-x: hidden;
}

body::-webkit-scrollbar
{
    width: 7px;
}

body::-webkit-scrollbar-track
{
    background: var(--body-color);
    border-radius: 25px;
}

body::-webkit-scrollbar-thumb
{
    background: var(--title-color);
    border-radius: 25px;
}

body::-webkit-scrollbar-thumb:hover
{
    background: #b3b3b3;
}

h1
{
    font-size: 2.2rem;
}

h2
{
    font-size: 1.5rem;
}

h3
{
    font-size: 1.2rem;
}

h4
{
    font-size: 1rem;
}

h5
{
    font-size: 0.86rem;
    font-weight: 500;
}

h6
{
    font-size: 1.76rem;
}

p
{
    font-size: 00.86rem;
    color: var(--title-color);
}

small
{
    font-weight: 300;
    font-size: 0.77rem;
}

.text-muted
{
    color: gray;
}

.primary
{
    color: #299bd5;
    /* rgb(71, 7, 234) */
}

.danger
{
    color: var(--color-danger);
}

.success
{
    color: rgb(34, 202, 75);
}

.purple
{
    color: rgb(160, 99, 245);
}

.choco
{
    color: #97077f;
}

.bg-primary
{
    background: #299bd5;
    /* rgb(71, 7, 234) */
    box-shadow: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
}

.bg-danger
{
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
}

.bg-success
{
    background: rgb(34, 202, 75);
    box-shadow: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
}

.bg-purple
{
    background: rgb(160, 99, 245);
    box-shadow: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);
}

.bg-dark
{
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
}

a
{
    text-decoration: none;
    color: #5a5a5a;
}

img
{
    cursor: pointer;
}

.flex-div
{
    display: flex;
    align-items: center;
}

           /* ==================== Nav Bar ==================== */
nav
{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--body-color);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-right img
{
    width: 25px;
    margin-right: 25px;
}

.nav-right .user-icon
{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.nav-left .menu-icon
{
    width: 22px;
    margin-right: 25px;
}

.nav-middle .search-box
{
    margin-right: 15px;
    padding: 8px 10px;
    border-radius: 25px;
}

.nav-middle .search-box input
{
    border-bottom: 2px solid #299bd5;
    border-top: 2px solid #299bd5;
    border-left: 1px solid var(--title-color);
    border-right: 1px solid var(--title-color);
    border-radius: 25px;
    width: 400px;
    color: var(--title-color);
    padding: 8px 12px;
    background: transparent;
}

.nav-middle .search-box input:focus
{
    border-bottom-color: var(--color-danger);
    border-top-color: var(--color-danger);
}

.menu-icon
{
    display: none;
}

@media screen and (max-width: 767px) {
    body::-webkit-scrollbar
    {
        display: none;
    }
}

@media screen and (max-width: 1024px)
{
    .menu-icon
    {
        display: inline;
    }
}