<!-- auth/reset_password.html -->
{% extends 'auth/layouts/forms.html' %}

{% load static %}

{% block ResetPassword %}
    <div id="wrapper">
        <div class="form-container">
            <span class="form-heading">Réinitialisation du Mot de Passe</span>

            <h3 class="danger">{{ error }}</h3>

            {% for message in messages %}
                <h2 class="danger">{{ message }}</h2>
            {% endfor %}

            <form method="POST" action="{% url 'reset_password_confirm' uidb64=uidb64 token=token %}">
                {% csrf_token %}

                <!-- Autres champs du formulaire si nécessaire -->

                <div class="input-group">
                    <button type="submit">
                        Réinitialiser le Mot de Passe
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
