{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link type="images/jpg" rel="icon" href="{% static 'assets/logo/galsen.jpg' %}">

    <!-- Box Icone -->
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'assets/formulaires/styles/form.css' %}"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"> 
    
    <link rel="stylesheet" href="{% static 'assets/formulaires/styles/resetPassword.css' %}"> 

    <title> Galsen </title>
</head>
<body>
    <div id="app">

        <main>
            <img src="{% static 'assets/delete/images/school.jpg' %}">

            {% block Authentification %}
        
            {% endblock %}
            
        </main>
    </div>

    <script src="{% static 'assets/formulaires/scripts/edit.js' %}"></script>
    <script src="{% static 'assets/algos/scripts/secrete.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   </body>
</html>